body,
html {
	height: 100%;
}

.bg {
	background-color: #fff;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 0.7;
	background-color: #fff;
	z-index: 99;
	text-align: center;
}

#loading-image {
	position: absolute;
	top: 100px;
	left: 240px;
	z-index: 100;
}

.side-bar {
	height: 100%;
	background: #43472c;
	padding: 20px;
	overflow: hidden;
	position: relative;
}

.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 240px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #43472c; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding: 20px;
}

/* The navigation menu links */
.sidenav a {
	align-content: center;
	justify-content: center;
	margin-top: 20px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #ccc;
}

/* Style page content */
.main {
	margin-left: 250px; /* Same as the width of the sidebar */
	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.arrow-bts {
	width: 45px;
	height: 45px;
	background-color: #43472c;
}

#date-div {
	display: inline;
	padding: 20px;
	font-size: x-large;
}

.meal_header {
	color: white;
	background: #43472c;
	text-align: center;
	padding: 5px;
	font-size: large;
	border-radius: 10px;
}

.sub-card {
	background: #ccc;
	margin-top: 10px;
	padding: 10px;
	border-radius: 10px;
}

.total_counter {
	background-color: #ff6b35;
	color: white;
	width: 100px;
	text-align: center;
	margin-left: 40%;
	font-size: 70px;
	border-radius: 50%;
	margin-bottom: 10px;
}

.house-sub-card {
	background-color: white;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 10px;
}

.house_header {
	background-color: #43472c;
	padding: 5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	font-size: x-large;
}

.house_number {
	background-color: #ff6b35;
	text-align: center;
	color: white;
	font-size: xx-large;
	border-bottom-left-radius: 10px;
}

.vegan {
	background-color: #9fd356;
	text-align: center;
	color: white;
	font-size: xx-large;
}

.kosher {
	background-color: #cf5c36;
	text-align: center;
	color: white;
	font-size: xx-large;
}

.regular {
	background-color: #ff6b35;
	text-align: center;
	color: white;
	font-size: xx-large;
}

.halal {
	background-color: #3c91e6;
	text-align: center;
	color: white;
	font-size: xx-large;
	border-bottom-right-radius: 10px;
}

.house-num {
	padding-right: 0;
}

.house_dis_test {
	padding-right: 30px;
}

.regular_meal {
	font-size: x-large;
	padding: 2px;
	background: white;
	border-radius: 10px;
}

.vegan_meal {
	font-size: x-large;
	padding: 2px;
	background: greenyellow;
	border-radius: 10px;
}

.kosher_meal {
	font-size: x-large;
	padding: 2px;
	background: skyblue;
	border-radius: 10px;
}

.house_card {
	padding: 5px;
	background-color: #43472c;
	height: 40px;
	border-radius: 10px;
	font-size: larger;
	color: white;
	margin-top: 5px;
}

.btn-more-info {
	height: 30px;
	padding: 0;
}
